#container
{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav .nav-tabs .nav-item .nav-link {
    background-color: #7B241C !important;
    color: #FFF;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #7B241C;
  }
  
  .tab-content {
    border: 1px solid #dee2e6;
    border-top: transparent;
    padding: 15px;
  }
  
  .tab-content .tab-pane {
    background-color: #FFF;
    color: #7B241C;
    min-height: 200px;
    height: auto;
  }

button {
  padding: 10px;
}

button:hover {
  background-color: #231DEF  !important;
  color: #FFFFFF;
}