<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermera</title> 
    
   
</head>
<body>  
  <nav>
    <div class="nav-wrapper" style="background-color: cadetblue;">
      <a [routerLink]="['/login']" class="brand-logo">Bienvenido Administrador</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/hospital']">Hospitales</a></li>
        <li><a [routerLink]="['/solicitudadministrador']">Solicitudes</a></li>
        <li><a [routerLink]="['/banco']">Bancos</a></li>
        <li><a [routerLink]="['/inventario']">Inventario global</a></li>
      </ul>
    </div>
  </nav>
        
 <div id="tabla">
    <table class="stripted" >
        <thead>
            <tr>
              <th >Numero de empleado</th>
              <th >Idpersona</th>
              <th >Hospital</th>
              <th >Contrasena</th>
              <th >Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="active-row" *ngFor="let enfermera of enfermera">
                <td>{{enfermera.numero_trabajador}}</td>
                <td>{{enfermera.idpersona}}<a (click)="visualizarPersona(enfermera.idpersona); preparar();"> <i class="material-icons" style="color: black;">visibility</i></a></td>
                <td>{{enfermera.idhospital}}</td>
                <td>{{enfermera.password}}</td>
                    <td>
                    <a (click)="visualizarEnfermera(enfermera.numero_trabajador); preparar2();"><i class="material-icons" style="color: darkcyan;" width="36px" height ="36px">create</i></a>
                    <a><i class="material-icons"style="color: darkcyan;" width="36px" height ="36px"></i></a>
                </td>  
            </tr> 
          </tbody>
      </table>
    </div>
   
      <div id="mymodal2" class="modal" >
        <div class="modal-dialog">
           <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Informacion Enfermera</h4>
           </div>
           <div class="modal-body">
            <div class="container" id="formulario">
                
                  <div class="col-3">
                    <label for="idpersona" class="form-label">idpersona</label>
                    <input disabled  type="text" id="idpersona" [(ngModel)]="personas.idpersona"  class="email" name="idpersona">
                </div>
                  <div class="col-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input  type="text" id="nombre" class="email" [(ngModel)]="personas.nombre"   name="nombrepaciente" placeholder="tipo de sangre del paicente">
                  </div>
                  <div class="col-2">
                    <label for="edad" class="form-label">Nombre del paciente</label>
                    <input  type="text" id="edad" class="email"  [(ngModel)]="personas.edad"  name="edad" placeholder="Nombre del paciente" />
                </div>
                  <div  class="col-3">
                      <label for="genero">Genero de la persona</label>
                      <input  type="text" id="genero" class="email" name="genero" [(ngModel)]="personas.genero"  placeholder="Genero del paciente">
                  </div>

            </div>
              <div class="buttonSelect">
                <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
             </div>
           </div>
           </div>
        </div>
       </div>


       <div id="mymodal" class="modal" >
        <div class="modal-dialog">
           <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Ingresar enfermera</h4>
           </div>
           <div class="modal-body">
            <div class="container" id="formulario">
                
                  <div class="col-3">
                    <label for="numero_empleado" class="form-label">Num de empleado</label>
                    <input disabled  type="text" id="numero_empleado" [(ngModel)]="enfermeras.numero_trabajador"  class="email" name="numero_empleado">
                </div>
                  <div class="col-3">
                      <label for="idhospital" class="form-label">idhospital</label>
                      <input  type="text" id="idhospital" class="email" [(ngModel)]="enfermeras.idhospital"   name="idhospital" placeholder="tipo de sangre del paicente">
                  </div>
                  <div class="col-2">
                    <label for="edad" class="form-label">Idpersona</label>
                    <input  type="text" id="edad" class="email"  [(ngModel)]="enfermeras.idpersona"  name="edad" placeholder="Nombre del paciente" />
                </div>
                  <div  class="col-3">
                      <label for="password">Contrasena</label>
                      <input  type="text" id="password" class="email" name="password" [(ngModel)]="enfermeras.password"  placeholder="Genero del paciente">
                  </div>

            </div>
              <div class="buttonSelect">
                <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Actualizar</a>
             </div>
           </div>
           </div>
        </div>
       </div>
  </body>
</html>