<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login.component.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>

    <div class="login">
        <form class="custom-form" method="post">
            <h1>Iniciar Sesión</h1>
            <input [(ngModel)]="usuario.correo" type="text" name="numerodetrabajador" id="numero_trabajador_input" placeholder="Correo" autocomplete="off">
            <input  [(ngModel)]="usuario.password" type="password" name="password" id="password" placeholder="password" autocomplete="off">
            <button type="submit" (click)="verificarUsuario()">LOGIN</button>
        </form>
    </div>
</body>

</html>