<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <nav>
        <div class="nav-wrapper" id="navbarclass">
          <a [routerLink]="['/main']" class="brand-logo">
            <img src="../../../assets/imagenes/medicine.png" width="50px" height="50px" class="logo">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a (click)="changeSolicitud()">Solicitud</a></li>
            <li><a (click)="changePaciente()">Registro de pacientes</a></li>
            <li></li>
          </ul>
        </div>
      </nav>

    <!-- Modal Structure -->
    <main class="table mt-4">
      <section class="table__header" aling="center">
          <h1>Donadores</h1>
      </section>

      <section class="table__body">
          <table>
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Tipo de sangre</th>
                      <th>Id persona</th>
                      <th>Accciones</th>
                  </tr>
              </thead>
              <tbody>
                <tr class="active-row" *ngFor="let donador of donador">
                  <td>{{donador.iddonador}}</td>
                  <td>{{donador.tipodesangre}}</td>
                  <td>{{donador.idpersona}}</td>
                  <td><a (click)="eliminarDonador(donador.iddonador)"><i class="material-icons">delete_forever</i></a>
                      <a (click)="visualizarDonador(donador.iddonador, donador.idpersona) "><i class="material-icons ">remove_red_eye</i></a>
                      <a (click)="preparar()" ><i class="material-icons prefix">edit</i></a></td>  
              </tr>
              </tbody>
              <a (click)="preparar()"><i class="material-icons">person_add</i></a>
          </table>
      </section>
  </main>

       <div id="mymodal" class="modal" >
        <div class="modal-dialog">
           <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title">Informacion Donadores</h4>
           </div>
           <div class="modal-body">
            <div class="container" id="formulario">
                
                  <div class="col-3">
                    <label for="idpersona" class="form-label">ID persona</label>
                    <input disabled type="text" id="idpersona" class="email" [(ngModel)]="personas.idpersona" name="idpersona" placeholder="nombre del paicente">
                </div>
                  <div class="col-3">
                      <label for="nombredonador" class="form-label"> Nombre del donador</label>
                      <input type="text" id="nombredonador" class="email" [(ngModel)]="personas.nombre" name="nombrepaciente" placeholder="nombre del paicente">
                  </div>
                  <div class="col-2">
                    <label for="tipodesangre" class="form-label">Tipo De sangre del paciente</label>
                    <input type="text" id="tipodesangre" class="email" [(ngModel)]="donadores.tipodesangre"  name="tipodesangre" placeholder="tipo de sangre" />
                </div>
                  <div  class="col-3">
                      <label for="edadpersona">Edad del donador:</label>
                      <input type="text" id="edadpersona" class="email" [(ngModel)]="personas.edad" name="edad" placeholder="Edad del paciente">
                  </div>
                  <div class="col-2">
                    <label for="generopersona"></label>
                    <input type="text" id="generopersona" class="email" [(ngModel)]="personas.genero" name="genero" placeholder="Genero del paciente">
                  </div>
            </div>
              <div class="buttonSelect">
                <a (click)="static()" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                <a (click)="agregarDonador()" class=" modal-action modal-close waves-effect waves-grey btn-flat">Agregar</a>
                <a (click)="actualizarDonador()" class=" modal-action modal-close waves-effect waves-grey btn-flat">Actualizar</a>
             </div>
           </div>
           </div>
        </div>
       </div>
   
  </body>
</html>