table
{
    padding: 10px;
    margin: 100px;
    border: 1px solid black;
    border-style: double;
    width: 800px;
    height: 400px;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid purple;
}
td 
{
    border: 1px solid black;
    padding: 20px;
}
tr
{
    background-color: beige;
    border: 1px solid lightsalmon;
}

th,td {
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
    caption-side: bottom;
 }