canvas
{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto; 
}
.imagen
{
    position: absolute; 
    top: 175px; 
    left: 435px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto;
}
body
{
    background-color: black;
}