<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pacientes</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper" id="navbarclass">
          <a [routerLink]="['/main']" class="brand-logo">
            <img src="../../../assets/imagenes/medicine.png" width="50px" height="50px" class="logo">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a (click)="changeDonadores()">Donadores</a></li>
            <li><a (click)="changeSolicitud()">solicitud de sangre</a></li>
            <li></li>
          </ul>
        </div>
      </nav>

    <table class="styled-table mt-3" align="center" style="margin: 0px auto;">
        <thead>
            <h2>Pacientes</h2>
        </thead>
        <tbody>
            <tr>
                <th>id paciente</th>
                <th>id persona </th>
                <th>tipo de sangre</th>
                <th>Acciones </th>
            </tr>
            <tr class="active-row" *ngFor="let paciente of paciente">
                <td>{{paciente.idpaciente}}</td>
                <td>{{paciente.idpersona}}</td>
                <td>{{paciente.tipodesangre}}</td>
                <td><a (click)="eliminarPaciente(paciente.idpaciente)"><i class="material-icons prefix">delete_forever</i></a>
                    <a (click)="visualizarPaciente(paciente.idpaciente, paciente.idpersona); preparar();"><i class="material-icons prefix">remove_red_eye</i></a>
                    <a><i class="material-icons prefix">edit</i></a></td>  
            </tr>
        </tbody>
    </table>
    <div id="mymodal" class="modal" >
      <div class="modal-dialog">
         <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title">Informacion Donadores</h4>
         </div>
         <div class="modal-body">
          <div class="container" id="formulario">
              
                <div class="col-3">
                  <label for="idpaciente" class="form-label">Id paciente</label>
                  <input disabled type="text" id="idpaciente" class="email" [(ngModel)]="pacienteVar.idpaciente"  name="idpersona" placeholder="nombre del paicente">
              </div>
                <div class="col-3">
                    <label for="tipodesangre" class="form-label">Tipo de sangre</label>
                    <input disabled type="text" id="tipodesangre" class="email" [(ngModel)]="pacienteVar.tipodesangre" name="nombrepaciente" placeholder="tipo de sangre del paicente">
                </div>
                <div class="col-2">
                  <label for="nombrepersona" class="form-label">Nombre del paciente</label>
                  <input disabled type="text" id="nombrepersona" class="email"  name="tipodesangre" [(ngModel)]="personas.nombre" placeholder="Nombre del paciente" />
              </div>
                <div  class="col-3">
                    <label for="genero">Genero de la persona</label>
                    <input disabled type="text" id="genero" class="email" name="edad" [(ngModel)]="personas.genero"  placeholder="Genero del paciente">
                </div>
                <div class="col-2">
                  <label for="edad">Edad del paciente</label>
                  <input disabled type="text" id="edad" class="email" [(ngModel)]="personas.edad" name="genero" placeholder="Genero del paciente">
                </div>
          </div>
            <div class="buttonSelect">
              <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
           </div>
         </div>
         </div>
      </div>
     </div>

</body>
</html>